<title>Tweets Autocomplete Demo</title>

<script>
$(document).ready(function() {
// Initialize collapse button
  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
});
</script>

<div class="navbar-fixed">
<nav class="blue" role="navigation">
  <div class="nav-wrapper container">
  <a id="logo-container" href="#" class="brand-logo">Tweets Autocomplete Demo</a>
  </div>
</nav>
</div>
