{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<style>
.ui-helper-hidden-accessible { border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}
.ui-autocomplete .highlight {
	text-decoration: underline;
	color: orange;
}
.fixed-height {
	padding: 1px;
	max-height: 200px;
	overflow: auto;
}
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}
.ui-autocomplete .highlight {
	text-decoration: underline;
	color: orange;
}
href{
  color: red;
}

.ui-helper-hidden-accessible { border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}
.ui-autocomplete .highlight {
	text-decoration: underline;
	color: orange;
}
.fixed-height {
	padding: 1px;
	max-height: 200px;
	overflow: auto;
}
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-menu-item .ui-state-focus {
  background: #ff0030;
  border: none;
  color: #ffffff;
}

.display {
    background-color: white;
}

.loader {
    border: 8px solid lightgrey;
    border-top: 8px solid darkgrey;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>


<main>
<section>	  
  <div class="container">
    <h4>Suggest next word <label for="get_next_word"></label></h4>
    <input id="get_next_word" class="complete_me", name="get_next_word" placeholder="Start typying your tweet"></input>

<br><br><br><br><br><br><br><br>

    <h4> Generate full sentence (enter stub and press return) <label for="get_sentence"></label></h4>
    <input id="get_sentence" class="display_me", name="get_sentence" placeholder="Type the first words and hit return"></input>
  </div>

  <br><br><br><br>
</section>
</main>



<script type="text/javascript">
  // Send data to autocomplete to dynamically extend data source
  
  
  
    $(document).ready(function(){
	$(".complete_me").on('keyup', function(e){
            var text = e.target.value;
	    // console.log(e.target.id);
	    obj = "#"+e.target.id
            $(obj).autocomplete({
  		source: function(request, response) {
  		    $.ajax({url: '{{ url_for("autocomplete") }}',
  			    contentType: 'application/json',
  			    method: "POST",
  			    dataType : 'json',
  			    data: JSON.stringify({input:text,what:e.target.id}),
  			    success: function(data) { console.log(data);
						      response(data.suggestions); }
  			   }
  			  );
  		}
  	    });
	});
	$(".display_me").on('keyup', function(e){
	    var key = e.which;
	    console.log(key);
	    if (key != 13) { return; }
	    
	    e.preventDefault();
	    if (window.preventDuplicateKeyPresses)
		return;
	    window.preventDuplicateKeyPresses = true;
	    window.setTimeout(function() { window.preventDuplicateKeyPresses = false; }, 500 );

	    var text = e.target.value;
	    // console.log(e.target.id);
	    obj = "#"+e.target.id
	    trueColor = $(obj).css('backgroundColor');
	    $('.display').remove();
	    $(obj).after( $("<div class='loader'/>") );
	    $(obj).after( $("<ul class='display' id='"+e.target.id+"_display'></ul>") );
	    obj = $("#"+e.target.id+"_display");
	    $.ajax({url: '{{ url_for("autocomplete") }}',
  		    contentType: 'application/json',
  		    method: "POST",
  		    dataType : 'json',
  		    data: JSON.stringify({input:text,what:e.target.id}),
  		    success: function(data) { console.log(data);
					      var item;
					      data = data["suggestions"];
					      
					      for (item=0; item < data.length; item++) {
						  console.log(data[item]);
						  li = $("<li/>").appendTo(obj);
						  li.text(data[item]).html();
					      }
					    },
		    complete: function() { $(".loader").remove(); }
  		   }
  		  );
  	});
	
    });

  
</script>


{% endblock %}
